<div class="container">
  <header id="page-header" class="profile">
    <section id="user-data">
      <div class="content-flex avatar upload-file">
        <%= image_tag current_user.avatar(:medium), onerror:"this.onerror=null;this.src='#{image_url('no-image.png')}';" %>
      </div>
      <div class="content-next-avatar">
        <h1>
          <span class="clear"><%= current_user.first_name %></span> <br>
          <span class="last-name"><%= current_user.last_name %></span>
        </h1>
        <ul>
          <li><%= current_user.email %></li>
        </ul>
        <%= link_to t('edit_profile'), edit_user_registration_path, class: "btn btn-primary" %>
      </div>
    </section>
  </header>
  <section class="clearfix padding-top-40">
    <div class="row">
      <div class="col-md-12">
        <%= render 'shared/flash_alert' %>
      </div>
    </div>
    <div class="row">
      <% current_user.favorites.each do |favorite_product| %>
        <article class="col-md-2">
          <%= render partial: 'products/product', locals: {product: favorite_product} %>
        </article>
      <% end %>
    </div>
  </section>
</div>