<div class="container">
  <%= render 'admin/shared/admin_header' %>
  <%= render 'stats_evolution' %>
  <section class="clearfix padding-top-40">
    <header id="page-sub-header"">
      <div class="pull-left alert-container">
        <%= render 'shared/flash_alert' %>
      </div>
      <aside class="pull-right">
        <%= link_to t('add_block_chart'), "#!", class: 'btn btn-lg btn-chart margin-bot-5 ', data: {toggle: "modal", target: "#charts-available"} %>
        <%= link_to t('export_to_pdf'), export_to_pdf_admin_dashboards_path(format: :pdf), class: 'btn btn-lg btn-export', target: "_blank", method: :post %>
      </aside>
    </header>
  </section>
  <%= render 'dashboard_charts' %>
</div>

<%= render 'modal_add_chart' %>
