<div class="container">
  <header id="page-header">
    <div class="col-md-5">
      <h2>shoparama</h2>
      <h1><%= raw t('.page_title') %></h1>
    </div>
    <div class="col-md-7">
      <%= render 'shared/search_form' %>
    </div>
  </header>
  <aside id="filters">
    <%= form_tag products_path, method: 'get', class: "main-form", id:"product-filter", remote: true do %>
      <h4> <%= t 'filters' %></h4>
      <h3> <%= t 'categories' %></h3>
      <%= hidden_field_tag "search", params[:search] unless params[:search].blank? %>
      <div class="row">
        <% @categories.each do |category| %>
          <div class="col-md-12">
            <%= check_box_tag "categories[]", category.id, false, class: "hidden filter-by-category", id: category.name %>
            <%= label_tag category.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </aside>
  <section class="clearfix right-container">
    <div class="row">
      <div class="col-md-12">
        <%= render 'shared/flash_alert' %>
      </div>
    </div>
    <% if @product_sellers.count > 0 %>
      <div id="products-list">
        <%= render 'products_list' %>
      </div>
    <% else %>
      <%= t 'no_product_found' %>
    <% end %>
  </section>
</div>